<label class="control-label" for="">ZIP Code:
  <span class="star">*</span>
</label>

<div [ngClass]="!nome.pristine && nome.valid ? 'form-group has-error' : 'form-group'">
  <input 
      type="text" 
      id="{{id}}" 
      name="{{name}}" 
      #nome="ngModel"
      [(ngModel)]="value"
      placeholder="{{placeholder}}" 
      class="form-control"
      minlength="{{minlength}}"
      disabled="{{disabled || false}}"
      required="{{required || false}}"
      appPfMaskZipcode
      click="clique($event)"
      blur="blur($event)"
      change="change($event)"
      paste="paste($event)"
>
</div>

<div [hidden]="nome.pristine">
    <div *ngIf="nome?.errors?.required">
      <small class="text-danger">
        Campo obrigatório.
      </small>
      <br>
    </div>
  
    <div *ngIf="nome?.errors?.minlength">
      <small  class="text-danger">
          Tamanho mínimo de {{minlength}} caracteres.
      </small> 
      <br>
    </div>
</div>