<label class="control-label" for="">Telefone:
  <span class="star">*</span>
</label>

<div [ngClass]="!nome.pristine && nome.valid ? 'form-group has-error' : 'form-group'">
  <input 
      type="text" 
      id="{{id}}" 
      name="{{name}}" 
      #nome="ngModel"
      [(ngModel)]="value"
      placeholder="{{placeholder}}" 
      class="form-control"
      minlength="{{minlength}}"
      disabled="{{disabled || false}}"
      required="{{required || false}}"
      click="clique($event)"
      blur="blur($event)"
      change="change($event)"
      paste="paste($event)"
      appPfMaskPhone
>
</div>